nav.bg-gray-800.text-white.px-4.py-2.flex.justify-between
  ul.flex.items-center.space-x-4
    li = link_to "Home", root_path, class: 'hover:text-gray-400'
    li = link_to "Playlists", playlists_path, class: 'hover:text-gray-400'
